{% capture date %}
{% if include.mode != 'month' %}
  {% assign d = include.date | date: "%-d" %}
  {% if page.lang == 'fr' %}
    {{ d }}{% if d == "1" %}<sup>er</sup>{% endif %}
  {% elsif page.lang == 'en' %}
    {{ d }}<sup>{% case d %}
      {% when '1' or '21' or '31' %}st
      {% when '2' or '22' %}nd
      {% when '3' or '23' %}rd
      {% else %}th
    {% endcase %}</sup> of
  {% endif %}
{% endif %}

{% if page.lang == 'lt' %}
 {% assign m = include.date | date: "%-m" %}
 {% case m %}
    {% when  '1' %} Sausis
    {% when  '2' %} Vasaris
    {% when  '3' %} Kovas
    {% when  '4' %} Balandis
    {% when  '5' %} Gegužė
    {% when  '6' %} Birželis
    {% when  '7' %} Liepa
    {% when  '8' %} Rugpjūtis
    {% when  '9' %} Rugsėjis
    {% when '10' %} Spalis
    {% when '11' %} Lapkritis
    {% when '12' %} Gruodis
  {% endcase %}
{% else %}
  {{ include.date | date: " %B"}}
{% endif %}
{{ include.date | date: " %Y"}}
{% endcapture %}{{ date | strip_newlines | replace: '  ','' }}