  <hr/>
  <div> {% assign schedulePosts=site.posts | where:"lang", page.lang | where:"type", posts %}{% for schedulePost in schedulePosts %}
    {% if schedulePost.categories contains 'trainings' and schedulePost.name contains 'schedule' %}
    <article class="post">
      <h3 class="post-title"><a href="{{ schedulePost.url }}">{{ schedulePost.title }}</a></h3>
      <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ site.data.translations[page.lang].publishedOn }}: {{ page.date | date_to_string }}</time>
      <hr/>
      {{ schedulePost.content }}
    </article>{% endif %}{% endfor %}
  </div>
  <hr/>
  <h3>{{site.data.translations[page.lang].trainingsRealatedBlogPosts}}:</h3>
  <div class="list">
    <ul> {% assign trainingPosts=site.posts | where:"lang", page.lang | where:"type", posts %}{% for trainingPost in trainingPosts %}
      {% if trainingPost.categories contains 'trainings' and trainingPost.name  != 'schedule' %}
      <li>
        <a href="{{ trainingPost.url }}">
          <div>{{ trainingPost.title | replace: '<br/>', '' }} <time datetime="{{ trainingPost.date | date_to_xmlschema }}" class="date">, {{ trainingPost.date | date_to_string }}</time>
        </a>
      </li>{% endif %}{% endfor %}
    </ul>
  </div>
