// Body resets
//
// Update the foundational and global aspects of the page.
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body, html { 
  overflow-x:hidden;
  margin: 0px 30px;
  padding: 0; 
}
html {
  font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: 35em) {
    font-size: 18px;
  }
}
body {
  color: #636363;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #ffffff;
  font-family:  'Open Sans', Arial, Helvetice Neue, sans-serif;
  font-size: 16px;
  font-style: normal; 
  text-align: justify;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6, span, p { 
  font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif; 
}
a {
  color: #268bd2;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #268bd2;
  }
  strong {
    color: inherit;
  }
}
table {
  margin-bottom: 1rem;
  width: 80%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  //border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
 // background-color: #f9f9f9;
}